{% extends 'base.html.twig' %}

{# Main page of the application #}
{% block title %}LocaLivres{% endblock %}

{% block body %}
        {% include '_components/nav.html.twig' %}
        <h1>LocaLivres</h1>
        <img src="{{ asset('build/images/library.jpg') }}" alt="book" class="background-image">
        <div class="pres-container">
                <h2>Le site de location de livres en ligne</h2>
                {% if app.user %}
                        <span>Bienvenue {{ app.user.firstName }}</span>
                {% else %}
                        <span>Connectez-vous ou créez un compte</span>
                        <div class="text-center">
                                <a href="{{ path('app_login') }}" class="btn btn-outline-success">Se Connecter</a>
                                <a href="{{ path('app_user_crud_new') }}}" class="btn btn-outline-primary">S'inscrire</a>
                        </div>
                {% endif %}
                <div class="container">
                        {% if message is defined %}
                                <div class="alert alert-danger">
                                        {{ message }}
                                </div>
                        {% endif %}
                </div>
        </div>
{% endblock %}