{% extends 'base.html.twig' %}

{% block title %}Livres à louer !{% endblock %}

{% block body %}
    {% include '_components/nav.html.twig' %}
    <h1 class="">Liste des livres à louer</h1>
    {% if app.user%}
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" width="1%">#</th>
                <th scope="col">Référence</th>
                <th scope="col" width="15%" class="text-center">Auteur</th>
                <th scope="col" width="15%" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}         
                {% if book.bookRentings is empty %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>
                            <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-outline-secondary">{{book.reference}}</a>
                        </td>
                        <td>
                            <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-outline-secondary">{{book.author.lastname ~" "~ book.author.firstname}}</a>
                        </td>
                        <td>
                            <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-outline-info">Voir</a>
                            <a href="{{ path('book_user_rent', {'id': book.id}) }}" class="btn btn-outline-success">Louer</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
    </table>
    {% else %}
        <h2>Vous n'êtes pas connecté</h2>
    {% endif %}
    </tbody>
    
{% endblock %}