{% extends 'base.html.twig' %}

{# Show details of a selected book to be returned #}
{% block body %}
    <h1>{{book.reference}}</h1>
    <p>{{book.author.lastname ~" "~ book.author.firstname}}</p>
    {% for book_category in book_categories %} 
        <p>{{book_category.category.label}}</p>
    {% endfor %}
    <p>Voulez-vous rendre ce livre ?</p>
    <a href="{{ path('book_return', {'id': book.id}) }}" class="btn btn-outline-danger">Retourner</a>
    <a href="{{ path('book_list') }}">Retour</a>
{% endblock %}