{% extends 'base.html.twig' %}

{% block title %}Mes Livres{% endblock %}

{# Show all books rented by the connected user #}
{% block body %}
    {% include '_components/nav.html.twig' %}
    <h1 class="">Mes Livres</h1>
    {% if app.user%}
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" width="1%">#</th>
                <th scope="col">Référence</th>
                <th scope="col" width="15%" class="text-center">Auteur</th>
                <th scope="col" width="15%" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {# Loop in the rented books #}
            {% for book in books %}         
                {% set isMyBook = false %}
                {% for bookRent in book.bookRentings %} 
                    {# Check if the rented book is rented by the connected user #}
                    {% if app.user.id == bookRent.user.id %}
                        {% set isMyBook = true %}
                    {% else %} 
                        {% set isMyBook = false %}
                    {% endif %} 
                {% endfor %}
                {# Diplay the user's books #}
                {% if isMyBook == true %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>
                            <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-outline-secondary">{{book.reference}}</a>
                        </td>
                        <td>
                            <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-outline-secondary">{{book.author.lastname ~" "~ book.author.firstname}}</a>
                        </td>
                        <td>
                            <a href="{{ path('user_book_return', {'id': book.id}) }}" class="btn btn-outline-danger">Rendre</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
    </table>
    {% else %}
        <h2>Vous n'êtes pas connecté</h2>
    {% endif %}
    </tbody>
    
{% endblock %}