{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créez votre compte</h1>

    {{ form_start(form) }}
    {# use bootstrap for layout #}
            <div class="row">
                    <div class="col-12">
                        <label for="last-name-label">Nom de famille</label>
                        {{ form_widget(form.last_name) }}
                    </div>
                    <div class="col-12">
                        <label for="last-name-label">Prénom</label>
                        {{ form_widget(form.first_name) }}
                    </div>
                    <div class="col-12">
                        <label for="last-name-label">Numéro de téléphone</label>
                        {{ form_widget(form.phone) }}
                    </div>
                    <div class="col-12">
                        <label for="paswd-label">Mot de passe</label>
                        {{ form_widget(form.password) }}
                    </div>
            </div>
            <button class="btn btn-success">Sauvegarder</button>
    {{ form_end(form) }}

    <a href="{{ path('app_book') }}">Retour</a>

{% endblock %}
